@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@400;600&display=swap');

html {
    font-size: 10px;
    --ff-1 : 'Sora', sans-serif;
    --ff-2: 'Inter', sans-serif;
    --grey-100: #7780A1;
    --dark-100: #060714;
    --dark-90: #262840;
    --purple-light-100: #2A27C9;
    --purple-dark-100: #514CFF;
    --grey-50: #BBC0D0;
    --grey-20: #E2E2ED;
    --grey-19: #F2F3F6;
    --red: #FB4539;
    --pink: #EA6CBC;
    --green: #76DECC;
    --white: white;
    --gradient-1: linear-gradient(104.42deg, #4745D0 0%, #2A27C9 60.23%);
    --dark-gradient: linear-gradient(188.08deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 93.79%), #060714;
    --purple-dark-10: rgba(42, 39, 201, 0.10);
    --purple-light-15: rgba(82, 76, 255, 0.15);
    --h1-fs: 6.4rem;
    --h2-fs: 4.8rem;
    --h3-fs: 4rem;
    --h4-fs: 3.6rem;
    --h5-fs: 3.2rem;
    --h6-fs: 2rem;
    --h7-fs: 1.6rem;
    --h8-fs: 1.3rem;
    --bd-fs-lg: 2.4rem;
    --bd-fs-md: 1.6rem;
    --bd-fs-nm: 1.4rem;
    --display-fs: 12rem;
    --fw-bold: 600;
    --fw-normal: 400;
    --letter-space: 0.02rem;
    --btn-height:5.2rem;
    --gap-1: 1rem;
    --gap-2: 2rem;
    --gap-3: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
    /* outline: black 1px dashed; */
}
body {
    font-size: var(--bd-fs-md);
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
.hide-display {
    display: none;
}
         /* Typography */
.h1{
    font-family: var(--ff-1);
    font-size: var(--h1-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 64px;
    text-align: left;
}
.h2 {
    font-family: var(--ff-1);
    font-size: var(--h2-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 55px;
    text-align: left;
}
.h3 {
    font-family: var(--ff-1);
    font-size: var(--h3-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 50px;
    text-align: left;
}
.h4{
    font-family: var(--ff-1);
    font-size: var(--h4-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 45px;
    text-align: left;   
}
.h5 {
    font-family: var(--ff-1);
    font-size: var(--h5-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 40px;
    text-align: left;  
}
.h6 {
    font-family: var(--ff-1);
    font-size: var(--h6-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 25px;
    text-align: left;
}
.h7 {
    font-family: var(--ff-1);
    font-size: var(--h7-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 20px;
}
.h8 {
    font-family: var(--ff-1);
    font-size: var(--h8-fs);
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-space);
    line-height: 16px;
    text-align: left;    
}
.b-lg {
    font-family: var(--ff-2);
    font-size: 24px;
    font-weight: var(--fw-normal);
    letter-spacing: var(--letter-space);
    line-height: 36px;
    text-align: left;
}
.b-md {
    font-family: var(--ff-2);
    font-size: 16px;
    font-weight: var(--fw-normal);
    letter-spacing: var(--letter-space);
    line-height: 24px;
    text-align: left;
}
.b-nm {
    font-family: var(--ff-2);
    font-size: 14px;
    font-weight: var(--fw-normal);
    letter-spacing: var(--letter-space);
    line-height: 21px;
    text-align: left;
}
.menu-text {
    font-family: var(--ff-1);
    font-size: var(--bd-fs-md);
    font-weight: var(--fw-bold);
    color: #7780A1;
    line-height: 20px;
    letter-spacing:var(--letter-space);
    text-align: center;
}
.display {
    font-family: var(--ff-1);
    font-size: clamp(var(--h5-fs), 15vw , var(--display-fs));
    font-weight: var(--fw-bold);
    line-height: 100%;
    letter-spacing: var(--letter-space);
    text-align: center;
    color: var(--dark-100);
}
.divider {
    width: 100%;
    border: 1px solid var(--grey-20);
}
.section-divider {
    margin: 7rem 0;
}


/* Buttons */
button {
    cursor: pointer;
    background-color: transparent;
}
.btn {
    height: var(--btn-height);
    border-radius: 12px;
    padding: 1.6rem 2.4rem;
    font-family: var(--ff-1);
    font-size: var(--bd-fs-md);
    font-weight: var(--fw-bold);
    line-height: 20px;
    letter-spacing: var(--letter-space);
    text-align: center;
}
.pri-btn {
    background: var(--gradient-1);
    color: var(--white);
}
.pri-btn:hover {
    background-color: var(--grey-50);
}
.sec-btn {
    background: var(--white);
    color: var(--grey-100);
}
.sec-btn:hover {
    background-color: var(--purple-light-100);
    color: var(--white);
}
button a {
    color: inherit;
}
.myacc-btn {
    width: 14.5rem;
}
.contact-btn {
    width: 11.7rem;
}
.getstarted-btn, .learnmore-btn {
    width: 14.6rem;
}
.btn-border{
    border: 2px solid var(--grey-100);
}
.show-more-btn, .getstarted2-btn{
    width: 100%;
    margin-top: var(--gap-2);
}
.show-more-btn2 {
    width: 50%;
    height: auto;
}


/* Header */
header {
    background: rgba(255, 255, 255, 0.5) url("../images/Background.svg") center / cover no-repeat;
    z-index: -10000;
}

/* navigation */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--gap-3);
    background-color: var(--purple-dark-100);
    padding: var(--gap-1) var(--gap-2);
    transition:  ease-in-out 0.5s;
    transform: translateY(-500px);
    z-index: 1;
}
#logo-div {
    display: inline-flex;
    gap: var(--gap-2);
    background-color: var(--white);
    width: 100%;
    padding: var(--gap-2);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 9px 9px -8px rgba(0,0,0,0.1);
}
#menu-bar {
    display: block;
    color: var(--dark-90);
    font-size: var(--h6-fs);
    background: none;
}
.menu-list {
    display: flex;
    gap: var(--gap-2);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex;
}
.menu-list li {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
}
.menu-list a {
    color: var(--white);
}
.menu-list li:hover {
    background-color: var(--purple-light-100);
    color: var(--white);
}
#signup-div {
    display: inline-flex;
    gap: var(--gap-1);
}
.show-menu {
    transform: translateY(0)!important;
}

/* Hero */
#hero-div {
    margin-top: -25rem;
    text-align: center;
    color: var(--grey-100);
    width: 100%;
}
#hero-text-div h2 {
    margin-bottom: var(--gap-1);
}
#hero-text-div p {
    margin-top: var(--gap-1)
}
/* search div */
#search-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: clamp(200px ,500px, 80%);
    margin: 8rem auto;
    padding: var(--gap-1);
    background-color: var(--white);
    border-radius: 1rem;
    border: white solid 4px;
    box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.10);
}
#search-div input,#search-div button, #search-div select {
    padding: 0.5rem;
    background-color: var(--white);
    color: var(--grey-50);
    opacity: 0.7;
}
#search-div input[type="search"] {
    flex-grow: 3;
    width: 55%;
}
#search-div input[type="search"]:focus,#search-div select:focus {
    border: none;
    outline: none;
}
#search-div button {
    flex-grow: 1;
    width: 8%;
    margin-left: 1.5rem;
}
#search-div select {
    flex-grow: 1;
    width: 28%;
    border-left: var(--grey-20) solid 1.6px;
}
#search-div input::placeholder {
    opacity: 0.7;
}

/* brand logo */
#brand-logo {
    display: flex;
    justify-content: flex-start;
    gap: 6rem;
    width: clamp(200px ,500px, 80%);
    margin: 10rem auto;
    overflow: hidden;
}
.brand-logo-div {
    width: 8.5rem;
    height: 4.5rem;
    flex-shrink: 0;
    background-size:  center;
    background-position: contain;
    background-repeat: no-repeat;
}
.ritter {
    background-image: url("../images/logos/Ritter Sport.svg");
}
.nike {
    background-image: url("../images/logos/Nike.svg");
}
.adidas {
    background-image: url("../images/logos/Adidas.svg");
}
.new-holland {
    background-image: url("../images/logos/New Holland.svg");
}
/* Latest Auction Section */
#latest-live-auction-div{
    margin-top: 10rem;
}
#latest-live-auction-div h2{
    text-align: center;
}
.live-auction-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    padding: 2.4rem;
    height: auto;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
}
.live-auction-card-img-div {
    height: 340px;
    width: 300px;
}
.live-auction-card-img-div img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.live-auction-card-text-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.live-auction-card-text-div h3 {
    width: 70%;
}
.price-span {
    width: 20%;
    padding: 8px;
    background-color: var(--purple-dark-10);
    height: 36px;
    width: 97px;
    color: var(--purple-light-100);
    border-radius: 7px;
}
.time-div {
    display: flex;
}
.bid-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bid-avater {
    display: flex;
    height: 32px;
    width: 250px;
    align-items: center;
}
.bid-avater img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    object-fit: fill;
}
.bid-avater p {
    margin-left: 1rem;
}


/* market place 1 and market place 2 */
#marketplace-div, #marketplace2-div {
    display: flex;
    width: 90%;
    padding: 1rem;
    margin: 5rem auto;
    height: auto;
}
#marketplace-div {
    flex-wrap: wrap-reverse;
}
#marketplace2-div {
    flex-wrap: wrap;
}
#market-text, #market2-text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    flex-shrink: 2;
}
#market-img, #market2-img {
    flex-shrink: 1;
}
#market-img img, #market2-img img{
    width: 90%;
}
#getstarted-learnmore-div {
    display: flex;
    /* flex-wrap: wrap; */
    gap: var(--gap-1);
}


/* Triple section */
#triple-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-2);
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto 0;
}
.triple-card{
    height: 700px;
    width: clamp(380px, 30%, 400px);
    border-radius: 20px;
    border: 1px solid var(--grey-20);
    overflow: hidden;
}
#hottest-sales-div, #get-started-div, #top-nft-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-3);
    padding: 2rem;
}

/* Hottest sale section */

#hottest-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-2);
    margin-left: 9rem;
}
.hottest-card:not(:first-child) {
    opacity: .15;
}

/* Hottest sale and Popular auction card */
.hottest-card, .popular-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    width: 180px;
    height: auto;
    border-radius: 20px;
}
.hottest-card-img-div, .popular-card-img-div {
    height: 270px;
    width: 100%;
}
.hottest-card-img-div img, .popular-card-img-div img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: fill;
}
.time-price-div {
    display: flex;
    justify-content: space-between;
}
.next-btn {
    position: absolute;
    font-size: var(--h6-fs);
    background-color: var(--white);
    color: var(--dark-90);
    top: 38%;
    right: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 100;
}
.hot-divider {
    margin-top: var(--gap-1);
}

/* Get started section */
#get-started-div {
    background : var(--dark-gradient);
    color: var(--grey-19);
}
#get-started-div h3 {
    width: 65%;
}
#get-started-div p {
    margin-top: var(--gap-1);
    color: var(--grey-100);
}
.get-started-img-div {
    width: 400px;
    height: 400px;
}
.get-started-img-div img {
    position: absolute;
    top: -60px;
    left: 30px;
    width: 80%;
    height: 70%;
    mix-blend-mode: lighten;
    z-index: 100;
}

/* Top nft section */
#top-nft-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-3);
    padding: 2rem;
}
#top-nft-card-wrapper {
    height: 65%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    overflow: hidden;
}

.top-nft-card {
    display: flex;
    gap: var(--gap-2);
}
.top-nft-left-col {
    width: 160px;
    height: 100px;
}
.top-nft-left-col img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.top-nft-right-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.bid-like-div {
    display: flex;
    justify-content: space-between;
}
/* Popular live auction */
#popular-auction-div {
    width: 90%;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#popular-auction-div h2 {
    text-align: center;
}
.categories-list {
    display: inline-flex;
    justify-content: center;
    gap: var(--gap-1);
    flex-wrap: wrap;
    margin: var(--gap-2) 0;
}
.categories-list li {
    border-radius: 8px;
    border: 2px solid var(--grey-20);
    padding: 0.5rem;
}
.categories-list a {
    color: var(--grey-100);
}
#popular-auction-card-wrapper{
    margin: var(--gap-3);
}

/* stats section */
#stats-wrapper-div {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    gap: var(--gap-2);
}
.stats-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--gap-1);
}

/* scrolling eth div */
#scrolling-eth-div {
    display: flex;
    gap: var(--gap-2);
    overflow-x: hidden;
    margin: 10rem -3rem;
}
.scrolling-div {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    flex-shrink: 0;
    background: var(--grey-50) url("../images/sImage1.png") center / cover no-repeat;
}

/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 90%;
    margin: 5rem auto 0;
    padding: var(--gap-1);
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--grey-20);
}

.footer-col {
    width: 100%;
    height: auto;
    margin: var(--gap-2);
    display: flex;
    flex-direction: column;
    gap: var(--gap-3)
}
.footer-link-1 ul {
    display: flex;
    gap: var(--gap-2);
    flex-wrap: wrap;
}
.footer-link-1 ul a {
    color: var(--grey-100);
}
.footer-link-2 ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    flex-wrap: wrap;
}
.footer-link-2 ul a {
    color: var(--dark-100);
}
.social-links {
    display: flex;
    gap: var(--gap-2);
}
#newsletter-div {
    position: relative;
}
#newsletter-div input[type="submit"] {
    position: absolute;
    top: 13px;
    right: 20px;
    color: var(--purple-light-100);
    cursor: pointer;
    background: none;
    padding: 0.5rem;
}
#newsletter-div input[type="search"] {
    border: 1px solid var(--grey-20);
    border-radius: 16px;
    width: 100%;
    padding: 16px 70px 16px 16px;
    box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.15);
}
#newsletter-div input::placeholder {
    opacity: 0.3;
}
#newsletter-div input:focus {
    border: 2px solid var(--purple-dark-100);
    outline: var(--dark-90);
}


@media (min-width: 780px){

    /* market place 1 and market place 2 */
    #marketplace-div, #marketplace2-div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
    }
    #market-text, #market2-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--gap-2);
        width: 48%;
    }
    #market-img, #market2-img {
        width: 48%;
    }
    /* footer */
    footer {
        flex-wrap: nowrap;
        margin: 8rem auto 2rem;
        align-items:center;
        padding: var(--gap-2);
    }
    .footer-col {
        width: 30%;
        height: 397px;
        justify-content: space-between;
    }
}

@media (min-width: 970px){

    .show-more-btn2 {
        width: 30%;
    }
    /* Navigation  */
    nav {
        flex-direction: row;
        box-shadow: 0px 9px 9px -8px rgba(0,0,0,0.1);
    }
    #logo-div {
        flex: 1;
        box-shadow: none;
        background-color: var(--grey20);
    }
    #menu-wrapper {
        flex-direction: row;
        transform: translate(0);
        background-color: transparent;
        flex: 2;
        justify-content: space-between;
    }
    .menu-list {
        flex-direction: row;
    }
    .menu-list a {
        color: inherit;
    }
    #menu-div{
        flex: 2;
    }
    .contact-btn {
        border: 2px solid var(--grey-100);
    }
    .hide {
        display: none!important;
    }

    /* Hero desktop */
    #hero-div {
        margin-top: 10rem;
    }
    #latest-live-auction-div{
        margin-top: 15rem;
    }

}
